In [1]:
import pandas as pd

In [5]:
data = pd.read_csv('/home/dsd/shared/asset_cropland-fires_emissions.csv')

In [64]:
data.columns

Index(['asset_id', 'iso3_country', 'original_inventory_sector', 'start_time',
       'end_time', 'temporal_granularity', 'gas', 'emissions_quantity',
       'emissions_factor', 'emissions_factor_units', 'capacity',
       'capacity_units', 'capacity_factor', 'activity', 'activity_units',
       'created_date', 'modified_date', 'asset_name', 'asset_type',
       'st_astext'],
      dtype='object')

In [70]:
# what are the emission factors values were considered between the period of 2015 and 2018?
gas_factors = data[data['start_time'].str.contains('2015|2016|2017|2018')]
gas_factors['emissions_factor'].unique()

array([1.44e+03, 5.70e+00, 1.00e-01])

In [46]:
# country with the highest average emissions quantity
emissions_avg = data.groupby(['asset_name']).mean()
emissions_avg[emissions_avg['emissions_quantity']==emissions_avg['emissions_quantity'].max()]

,asset_id,emissions_quantity,emissions_factor,emissions_factor_units,capacity,capacity_units,capacity_factor,activity,activity_units,modified_date
asset_name,,,,,,,,,,
India_Punjab_,1.834586e+09,8240.675551,289.2,NaN,673.261414,NaN,2089.0,95.684464,NaN,NaN

In [51]:
# What are the types of gases that USA emits?
gas_types = data[data['iso3_country'] == 'USA']
gas_types['gas'].unique()

array(['co2', 'ch4', 'n2o', 'co2e_100yr', 'co2e_20yr'], dtype=object)

In [58]:
# how many times was the data modified?
data['created_date'].unique().size

424991